body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 2fr 1fr 1fr 2fr 120px;
    grid-template-areas: 
    "header"
    "main"
    "main"
    "main"
    "main"
    "footer";
}

header{
    grid-area: header;
}